<!DOCTYPE html>
<html lang="en" ng-app="Tycoon">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/hep_tycoon.ico">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="css/hep-tycoon.css">
    <title>HEP Tycoon</title>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class="nav navbar-nav">
          <li>
          <div class="btn-group">
            <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown">
              HEP Tycoon <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">Save</a></li>
              <li class="divider"></li>
              <li><a href="#">Load</a></li>
            </ul>
          </div>
          </li>
        </ul>
        <div class="nav-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#staff">Scientists</a></li>
            <li><a href="#accelerator">Accelerator</a></li>
            <li><a href="#detectors">Detectors</a></li>
            <li><a href="#dc">Data centre</a></li>
            <li><a href="#">Technology</a></li>
          </ul>
        </div>
        <p class="navbar-text pull-right"><big>Current funds: <span class="label label-info" id="iFunds">JTN 9001</span></big></p>
        <p class="navbar-text pull-right clock"><big id="clock_target">Jun 1991</big></p>
      </div>
    </div>
    <div class="container">
      <div class="col-lg-6">
        <div class="panel panel-primary" id="grant">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-briefcase"></span> Grant bar</h3>
          </div>
          <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <p class="pull-right"><strong><span id="iGrantPts">450</span>/<span id="iReqGrantPts">1000</span></strong> <span class="glyphicon glyphicon-briefcase"></span></p>
          <p>Upon completion, receive <strong>JTN 200</strong></p>
        </div>
        <div class="panel panel-primary" id="staff" ng-controller="Scientists">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Scientists</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
            <form class="form-inline">
              <fieldset>
                <legend><span class="glyphicon glyphicon-sort"></span> Adjust scientist salaries</legend>
                <div class="form-group">
                  <input type="number" class="form-control" ng-model="hireScientistsCostNew" min="0" value="1">
                  <button type="submit" class="btn btn-info pull-right" ng-click="adjustSalary()" ng-disabled="hireScientistsCostNew == hireScientistsCost">Adjust</button>
                </div>
              </fieldset>
            </form>
            </li>
            <li class="list-group-item">
            <form class="form-inline">
              <fieldset>
                <legend><span class="glyphicon glyphicon-shopping-cart"></span> Hire new scientists</legend>
                <div class="form-group">
                  <input type="number" class="form-control" ng-model="hireScientistsCount" min="1" value="1">
                  <button type="submit" class="btn btn-info pull-right" data-target="#modConfirmHire" data-toggle="modal">Hire</button>
                </div>
                <span class="help-block">Cost: <span id="iHireScientistsCost">{{hireScientistsCost|currency}}</span></span>
              </fieldset>
            </form>
            </li>
            <li class="list-group-item">
            <h4>{{scientists.length}}/{{maxScientists}} scientists employed</h4>
              <div class="well scrollable">
                <table class="table table-striped table-hover">
                  <thead>
                    <tr><th>Name</th></tr>
                  </thead>
                  <tbody id="iScientistsList" ng-repeat="scientist in scientists">
                    <tr><td>{{scientist}}</td></tr>
                  </tbody>
                </table>
              </div>
            </li>
            <li class="list-group-item">
              <form class="form-inline">
                <fieldset>
                  <legend><span class="glyphicon glyphicon-fire"></span> Fire scientists</legend>
                  <div class="form-group">
                    <input type="number" class="form-control" ng-model="fireScientistsCount" min="1" max="100" placeholder="1">
                    <button type="submit" class="btn btn-danger pull-right" data-target="#modConfirmFire" data-toggle="modal">Fire</button>
                  </div>
                  <span class="help-block">Cost: {{fireScientistsCost|currency}}</span>
                </fieldset>
              </form>
            </li>
          </ul>
          <!-- Modal: confirm scientist hire -->
          <div class="modal fade" id="modConfirmHire">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Hire scientists</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to hire {{hireScientistsCount}} scientists for {{hireScientistsCost*hireScientistsCount|currency}} per month?
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                  <a href="#" class="btn btn-info" id="hireScientistsBtn" ng-click="hire()">Hire</a>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          <!-- Modal: confirm scientist fire -->
          <div class="modal fade" id="modConfirmFire">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Fire scientists</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to fire {{fireScientistsCount}} scientists? You will have to pay them {{fireScientistsCount*fireScientistsCost|currency}} in severence payments.
                </div>
                <div class="modal-footer">
                  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                  <a href="#" class="btn btn-danger" id="iFireScientistsBtn" ng-click="fire()">Fire</a>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-primary" id="accelerator" ng-controller="Accelerators">
          <div class="panel-heading">
                    
            <h3 class="panel-title"><span class="glyphicon glyphicon-forward"></span> Accelerator
              <span class="label label-success pull-right" ng-show="active">Running</span>
              <span class="label label-warning pull-right" ng-hide="active">Shut down</span></h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
            <h1>{{name}}</h1>
            </li>
             <li class="list-group-item">
              <div class="pull-right" ng-show="can_upgrade">
                  <a href="#" class="btn btn-primary" ng-click="upgrade()"><span class="glyphicon glyphicon-wrench"></span> Upgrade<br><small>(cost {{upgradeCost|currency}})</small></a>
              </div>
              <div>
                <p>Level {{level+1}} <a data-popover="hover">{{description}}</a></p>
                <p>&radic;s = {{energy}} TeV</p>
              </div>
            </li>
            <li class="list-group-item">
            <div class="pull-right">
                <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" ng-click="shutdown()" ng-show="active"
                   title="Shutting down the accelerator doesn't cost any money. During shutdown, no running costs are charged and no data is gathered.">
                  <span class="glyphicon glyphicon-off"></span>
                  Shutdown
                </a>
                <a class="btn btn-success" ng-click="powerOn()" ng-hide="active">
                  <span class="glyphicon glyphicon-off"></span>
                  Power On
                </a>
            </div>
            <p>Operating cost: <strong>{{running_costs|currency}}</strong> per hour</p></li> 
          </ul>
        </div>
        <div class="panel panel-primary" ng-controller="Detectors">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-eye-open"></span> Installed Detectors</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="pull-right">
                <a href="#" class="btn btn-success btn-double-width"><span class="glyphicon glyphicon-plus-sign"></span> Show available detectors</a>
              </div>
              <h4>{{detectors.length}}/{{max_detectors}} detector slots in use</h4>
            </li>
            <div ng-repeat="detector in detectors">
              <li class="list-group-item">
                <div class="pull-right btn-group">
                    <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span> Upgrade<br><small>(cost {{detector.upgradeCost|currency}})</small></a>
                    <a href="#" class="btn btn-danger"><span class="glyphicon glyphicon-minus-sign"></span> Remove<br><small>(cost {{detector.removeCost|currency}})</small></a>
                </div>
                <h4>{{detector.name}}</h4>
                <p>{{detector.description}}</p>
              </li>
            </div>
          </ul>
		</div>
        <div class="panel panel-primary" id="grant" ng-controller="DataCenter">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-hdd"></span> Data centre</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="progress progress-striped">
                <div class="progress-bar progress-bar-info" ng-style="getProgressbarStyle()"></div>
              </div>
              <p class="text-right"><strong>{{usage}}/{{capacity}} PetaBytes</strong></p>
            </li>
            <li class="list-group-item">
              <div class="pull-right" ng-show="can_upgrade">
                  <a href="#" class="btn btn-primary" ng-click="upgrade()"><span class="glyphicon glyphicon-wrench"></span> Upgrade<br><small>(cost {{upgradeCost|currency}})</small></a>
              </div>
              <div>
                <p>Level {{level+1}} Data Centre</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/scientists.js"></script>
    <script src="js/accelerators.js"></script>
    <script src="js/data-center.js"></script>
    <script src="js/detectors.js"></script>
    <script src="js/ui.js"></script>
  </body>
</html>
